# Database Connection String
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/dbname

# JWT Secret for Auth Tokens
JWT_SECRET=your_jwt_secret_key_here

# Frontend Production Client URL for CORS
CLIENT_URL=http://localhost:5173

# Server Port
PORT=5000

# Node Environment
NODE_ENV=development
